H1 {
    font-size: 400%;
    text-align: center;
    color: Black;

}

picture2 {
    align-content: center;
}

body{
  margin: 0;
    background-color: white;
    background-position: center;
    background-attachment: fixed;
    font-family: "Helvetica Neue";
    font-size: 100%;
}
nav {
margin top: auto;
height: 65px;
width: auto;
box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
text-align: center;
position: fixed;
top: 0;
width: 100%;
}

li {
float: left;
}

li a {
display: inline-block;
color: white;
text-align: left;
padding: 17px 17px;
text-decoration: none;
font-size: 1.6em;
}

li a:hover {
    background-color: #111;
}


/*@media (min-width: 468px) {
    .container-1{
        display: flex;
    }

    .container-2{
        display: flex;
        justify-content: space-between;
    }
}

.container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.container-1 div, .container-2 div, .container-3 div{
border: 1px #ccc solid;
    padding: 10px;
}

.box-1{
    flex: 2;

}
.box-2{
    flex: 1;

}

.box-3{
    flex: 1;
}

.container-2-box{
    flex-basis: 27%;
}

.container-3-box{
    flex-basis: 12%;

}


 */

/*@media only screen and (max-width: 800px) {
    background-image:  url(pictures/UBAND-BLUE-1-1.webp.png);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
*/

picture1 {
    align-content: center;
}
